.section-login,
.section-cadastro {
  background: -webkit-linear-gradient(left, #b51841, #414141);
  background: -moz-linear-gradient(left, #b51841, #414141);
  background: -ms-linear-gradient(left, #b51841, #414141);
  background: -o-linear-gradient(left, #b51841, #414141);
  background: linear-gradient(to right, #b51841, #414141);

  @include flex(row, center, center);
  height: calc(100vh - 9rem);
  padding: 5rem 0;

  .container {
    display: flex;
    justify-content: center;
  }

  .container-login,
  .container-cadastro {
    width: 100%;
    max-width: 108rem;
    background-color: $white;
    @include flex(row, space-around, center);
    padding: 7.2rem 0;
    border-radius: 2rem;

    .image {
      transition: transform 0.5s;

      &:hover {

        transform: rotateX(20deg) rotateY(10deg);
      }
    }

    .form-container {

      h2 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2.4rem;
      }

      .form-input-container {
        @include flex(row, center, center);
        background-color: $gray-bg-btn;
        border-radius: 0.4rem;
        padding: 1rem 1.6rem;
        margin-bottom: 2rem;
        gap: 2rem;

        .form-input {
          font-size: 1.8rem;
          background-color: $gray-bg-btn;
          display: block;
          padding: 1rem 2rem;
          outline: none;
          border: 1px solid transparent;

          &:focus {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 1rem;
          }
        }
      }

      .btn-login {
        width: 100%;
        display: block;

        background-color: $red;
        color: white;
        font-size: 2rem;
        padding: 1.4rem 2rem;
        border-radius: 0.6rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;

        transition: all 0.3s;

        &:hover {
          background-color: $black;
        }
      }
    }
  }
}

.section-cadastro {
  .container-cadastro {
    .form-container {

      .form-input-container {
        background-color: #DEEEFF;

        .form-input {

          background-color: #DEEEFF;

        }
      }
    }
  }
}

/*Implementação*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;

  /*********/
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 0;
}

.modal .box {
  position: relative;
  width: 40%;
  height: 50vh;

  background-color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .box-doacao {
  width: 30%;
  height: 40vh;
}

.modal .box .btn-close {
  color: white;
  background-color: #b51841;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.modal .box p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}


.modal .box img {
  width: 5rem;
  height: 5rem;
}

.descricao-sobre,
.descricao-sobre strong {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.descricao {
  font-size: 2rem;
  text-align: justify;
  line-height: 2.6rem;
  margin-bottom: 1rem;
}

.descricao-lista {
  padding-left: 4rem;
}

.descricao-lista li {
  font-size: 1.8rem;
  line-height: 3rem;
  list-style-type: disc;
}

.titulo-03 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}

a {
  color: black;
}

a:hover {
  color: #b51841;
}

.section-cards {
  padding: 9.2rem 0;

  .container {
    display: flex;
    justify-content: space-around;

    .card {
      width: 50vh;
      height: 50vh;
      background-color: rgba(211, 211, 211, .15);
      border-radius: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

      transition: all 0.3s;

      &:hover {
        color: white;
        background-color: rgba(0, 0, 0, 1);
        cursor: pointer;

        h2 {
          a {
            color: white;
          }
        }
      }

      img {
        width: 10rem;
        height: 10rem;
      }

      h2 {
        a {
          font-size: 3rem;
        }
      }

    }
  }
}

.tabs-button {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.tabs-button a {
  font-size: 2.4rem;
  border: 3px solid #b51841;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;

  transition: all 0.3s;
}

.tabs-button a:link,
.tabs-button a:visited {
  color: black;
  font-weight: 600;
}

.tabs-button a:hover {
  background-color: #b51841;
  color: white;
}

.tabs-panel {
  width: 70%;
  border: 4px solid black;
  padding: 2rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
}

.tabs-panel-contato {
  width: 100%;
  border: 4px solid black;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
}

.tabs-panel-contato button {
  font-size: 1.8rem;
}

.tabs-panel-contato .text-doacao {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.tabs-panel-contato .text-doacao p,
.tabs-panel-contato .text-doacao p strong {
  font-size: 1.8rem;
}

.tabs-panel .content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.tabs-panel .content img {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.tabs-panel .content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/*Implementação*/

.tabs-button a.active {
  background: #b51841;
  color: white;
}

.tabs-panel .content {
  display: none;
}

.tabs-panel .content.active {
  display: block;
  animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.section-doacao {
  padding: 9.2rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  background-color: #b51841;
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.btn:hover {
  background-color: black;
  color: white;
}

.img-blood {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.form-input-container-donate {
  @include flex(row, center, center);
  background-color: $gray-bg-btn;
  border-radius: 0.4rem;
  padding: 1rem 1.6rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.form-input-donate {
  font-size: 1.8rem;
  background-color: $gray-bg-btn;
  display: block;
  padding: 1rem 2rem;
  outline: none;
  border: 1px solid transparent;
}